@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: darkslategray;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: white;
}

.tv {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -434px;
    margin-left: -560px;
    padding: 50px;
    width: 768px;
    height: 672px;
    background-color: black;
}

img {
    width: 1350px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -490px;
    margin-left: -675px;
}

.start-screen {
    width: 768px;
    height: 672px;
    background-image: url('../assets/start-screen.png');
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.start-info {
    width: 480px;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 2;
    top: 360px;
    left: 169px;
}

.pause {
    background-color: black;
    width: 768px;
    height: 672px;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.game-over-screen {
    width: 768px;
    height: 672px;
    background-image: url('../assets/game-over-screen.png');
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.end-score {
    position: absolute;
    top: 72px;
    left: 336px;
}

.screen {
    width: 768px;
    height: 672px;
    background-image: url('../assets/screen.png');
    padding: 0;
    margin: 0;
    position: absolute;
}

.board {
    width: 240px;
    height: 480px;
    position: absolute;
    top: 72px;
    left: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    position: absolute;
    top: 96px;
    left: 576px;
}

.score {
    position: absolute;
    top: 168px;
    left: 576px;
}

.lines {
    position: absolute;
    top: 48px;
    left: 456px;
}

.level {
    position: absolute;
    top: 480px;
    left: 624px;
}

.next {
    width: 93px;
    height: 45px;
    position: absolute;
    top: 336px;
    left: 576px;
    background-position: center;
    background-repeat: no-repeat;
}

.statistics {
    position: absolute;
    top: 252px;
    left: 144px;
    color: #d72801;
    line-height: 48px;;
}

.col {
    height: 24px;
    width: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}

.y0, .y1 {
    visibility: hidden;
}

.row.collapse {
    animation: collapse 0.5s;
}

@keyframes collapse {
    0% {
        max-width: 768px;
    }
    100% {
        max-width: 0px;
    }
}

.c1 {
    background-image: url('../assets/brick-1.png');
}

.c2 {
    background-image: url('../assets/brick-2.png');
}

.c3 {
    background-image: url('../assets/brick-3.png');
}

.c4 {
    background-image: url('../assets/brick-1.png');
}

.c5 {
    background-image: url('../assets/brick-2.png');
}

.c6 {
    background-image: url('../assets/brick-3.png');
}

.c7 {
    background-image: url('../assets/brick-1.png');
}

.n1 {
    background-image: url('../assets/tetromino-1.png');
}

.n2 {
    background-image: url('../assets/tetromino-2.png');
    
}

.n3 {
    background-image: url('../assets/tetromino-3.png');
}

.n4 {
    background-image: url('../assets/tetromino-4.png');
}

.n5 {
    background-image: url('../assets/tetromino-5.png');
}

.n6 {
    background-image: url('../assets/tetromino-6.png');
}

.n7 {
    background-image: url('../assets/tetromino-7.png');
}